html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
    width: 500px;
    max-width: 100%;
    font-family: $nunito;
    font-size: 100%;
    line-height: 1.5;
    font-weight: 400;
    margin: 0 auto;
    padding: 1rem 2rem;

    &.page {
    	margin: 55px auto 85px;
    }
}

.go__home {
	display: block;
	color: transparent;
}

img {
	max-width: 100%;
	height: auto;
}

a {
    color: $link;

    &:hover,
    &:active,
    &:focus {
        color: $link;
    }
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: 1;
    margin: 0;
}

.header {
    margin-bottom: 1rem;
}

.block__logo {
    width: 60%;
    display: inline-block;
    vertical-align: middle;
}

.block__heading {
    width: 38%;
    display: inline-block;
    vertical-align: middle;
    font-size: 2.6rem;
    font-weight: 800;
    color: $green-dark;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 1rem 0;

    @media (max-width: 500px) {
        font-size: 7.5vw;
    }
}

.block__subheading {
    font-size: 0.85rem;
    font-weight: 600;
    color: $blue;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.block__copy {
	font-size: 1.25rem;
	text-align: center;
	margin: 1rem 0;
}

.block__title {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 5px 10px;
	background-color: $green-dark;
	z-index: 3;

	&::after {
		content: "";
		position: absolute;
		top: 45px;
		left: 50%;
		margin-left: -20px;
		width: 0; 
	  height: 0; 
	  border-left: 20px solid transparent;
	  border-right: 20px solid transparent; 
	  border-top: 20px solid $green-dark;
	}
}

/* Meal Options */

.nutrients_remaining {
	display: inline-block;
	width: calc(33.333% - 5px);
	font-size: 0.9rem;
	margin-top: 0.5rem;

	span {
		display: block;
		color: #999;
	}
}

.block__copy.options {
	padding-bottom: 1rem;
	border-bottom: 10px solid $orange-med;
}

.block__copy.nutrition {
	padding: 1.5rem 0 0;
}

.block__copy.meal {
	text-align: left;
	padding-bottom: 1rem;
	border-bottom: 1px solid $gray-med;

	p {
		
		line-height: 1;
	}

	.meal_macros {
		font-size: 0.85rem;
		color: #999;
	}
}

/* Profile */

.profile_img {
	position: relative;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	background-color: $green-dark;
	border-radius: 50%;

	svg {
		position: relative;
		top: 25px;
		display: block;
		margin: 0 auto;
		width: 100px;
		height: auto;
		fill: $white;
	}
}

.change_img {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 35px;
	height: 35px;
	background-color: $teal;
	border-radius: 50%;

	svg {
		top: 6px;
		display: block;
		margin: 0 auto;
		width: 20px;
		height: auto;
		fill: $white;
	}
}

.profile_logout {
	display: none;
	position: absolute;
	top: 53px;
	right: 0;
	cursor: pointer;

	a {
		display: block;
		color: $white;
		font-size: 0.875rem;
		font-weight: 600;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: 10px 15px;
		background-color: $orange-med;
	}
}

.block__title {
	.logout_app {
		position: absolute;
		top: 0;
		right: 0;
		width: 36px;
		height: 53px;
		cursor: pointer;

		&:hover > .profile_logout,
		&:active > .profile_logout,
		&:focus > .profile_logout {
			display: block;
		}
	}

	svg {
		width: 36px;
		height: auto;
		padding: 8.5px 0;
		fill: $white;
	}
}

/* Nutrition */

.block__subsubhead {
	background-color: $green-light;
}

.pie_chart {
	display: block;
	width: 200px;
	margin: 3.5rem auto 1rem;
}

.block__subsubhead {
	position: fixed;
	top: 53px;
	left: 0;
	width: 100%;
	padding: 20px 5px 10px;
	text-align: center;
	letter-spacing: 0.25px;
	font-size: 0.9rem;
	color: darken($teal,10%);
}

.nutrition_table {
	width: 100%;
	font-size: 0.9rem;
	font-weight: 400;
	color: $gray;

	th {
		font-weight: 400;
		text-align: right;
	}

	th,
	td {
		padding: 7px 3.5px;
	}

	td span {
		display: block;
		width: 15px;
		height: 15px;

		&.blue {
		background-color: $blue;
		}

		&.red {
			background-color: $red;
		}

		&.green {
			background-color: $green-dark;
		}
	}

	td:nth-of-type(3),
	td:nth-of-type(4) {
		text-align: right;
	}

	td:nth-of-type(4) {
		color: $blue;
	}
}
