html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
    width: 500px;
    max-width: 100%;
    font-family: $nunito;
    font-size: 100%;
    line-height: 1.5;
    font-weight: 400;
    margin: 0 auto;
    padding: 1rem 2rem;

    &.page {
    	margin: 50px auto;
    }
}

.go__home {
	display: block;
	color: transparent;
}

a {
    color: $link;

    &:hover,
    &:active,
    &:focus {
        color: $link;
    }
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: 1;
    margin: 0;
}

.header {
    margin-bottom: 1rem;
}

.block__logo {
    width: 60%;
    display: inline-block;
    vertical-align: middle;
}

.block__heading {
    width: 38%;
    display: inline-block;
    vertical-align: middle;
    font-size: 2.6rem;
    font-weight: 800;
    color: $green-dark;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 1rem 0;

    @media (max-width: 500px) {
        font-size: 7.5vw;
    }
}

.block__subheading {
    font-size: 0.85rem;
    font-weight: 600;
    color: $blue;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.block__copy {
	font-size: 1.25rem;
	text-align: center;
	margin: 1rem 0;
}

.block__title {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 5px 10px;
	background-color: $green-dark;

	&::after {
		content: "";
		position: absolute;
		top: 45px;
		left: 50%;
		margin-left: -20px;
		width: 0; 
	  height: 0; 
	  border-left: 20px solid transparent;
	  border-right: 20px solid transparent; 
	  border-top: 20px solid $green-dark;
	}
}
