.form__input,
.form__radio {
    margin: 1rem 0;
}

.label,
.screen-reader-text {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=search] {
		-webkit-appearance: none;
    width: 100%;
    font-size: 0.875rem;
    color: $blue;
    padding: 0.875rem;
    border: 1px solid $blue;
    border-radius: 0;
}

input[type=radio] {
	width: 20px;
	display: inline-block;
	vertical-align: middle;
}

.radio {
	position: relative;
	width: auto;
	display: inline-block;
	vertical-align: middle;
	line-height: 1.25;
	margin: 7px 5px;
	color: $gray;

	span {
		display: block;
		width: 100%;
		font-size: 85%;
		line-height: 1.5;
		color: #999;
	}
}

div.radio {
	display: block;
}

.favorites.page {
	.radio {
		width: calc(100% - 55px);
	}

	.form__input.favorites {
		position: fixed;
		bottom: 68px;
		left: 0;
		width: 100%;
		margin: 0;

		.button {
			border: none;
			background-color: $teal;
		}
	}
}


::-webkit-input-placeholder {
  color: $blue;
}
::-moz-placeholder {
  color: $blue;
}
:-ms-input-placeholder {
  color: $blue;
}
:-moz-placeholder {
  color: $blue;
}

.helper__text {
    color: $black;
    font-size: 0.875rem;
    line-height: 1.25;
}

.button {
    -webkit-appearance: none;
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 0;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1;
    color: $white;
    letter-spacing: 1px;
    border: 1px solid;
    text-align: center;
    text-transform: uppercase;
    transition: all 300ms ease;

    & > a {
    		display: block;
        padding: 0.875rem;
        border: none;
        color: $white;
        text-decoration: none;
    }

    &.orange-light {
        background-color: $orange-light;
        border-color: $orange-light;

        &:hover,
        &:active,
        &:focus {
            background-color: $orange-dark;
            border-color: $orange-dark;
        }
    }

    &.orange-dark {
        background-color: $orange-dark;
        border-color: $orange-dark;

        &:hover,
        &:active,
        &:focus {
            background-color: $orange-light;
            border-color: $orange-light;
        }
    }
}
