.cls-1 {
    mask: url(#mask);
    filter: url(#luminosity-noclip-2);
}
.cls-2,
.cls-6 {
    mix-blend-mode: multiply;
}
.cls-2 {
    fill: url(#radial-gradient);
}
.cls-3 {
    fill: none;
}
.cls-4 {
    isolation: isolate;
}
.cls-5 {
    mask: url(#mask-2);
}
.cls-6 {
    opacity: 0.2;
    fill: url(#radial-gradient-2);
}
.cls-7 {
    clip-path: url(#clip-path);
}
.cls-8 {
    fill: #6dc618;
}
.cls-9 {
    fill: #cee022;
}
.cls-10,
.cls-16 {
    fill: #bfce00;
}
.cls-11 {
    fill: #ffc022;
}
.cls-12 {
    fill: #ffa227;
}
.cls-13 {
    fill: #fc852d;
}
.cls-14 {
    fill: #f25c29;
}
.cls-15 {
    fill: #fff;
}
.cls-17 {
    filter: url(#luminosity-noclip);
}