// Descriptive Variables
$green-light: #cee022;
$green-dark: #bfce00;
$teal: #27778a;
$blue: #13516a;
$yellow: #ffc022;
$orange-light: #ffa227;
$orange-med: #fc852d;
$orange-dark: #f25c29;

$black: #222;
$white: #fff;
$gray: #666;
$gray-med: #eaeaea;
$gray-light: #f8f8f8;
$link: #0092f1;

// Fonts
$nunito: 'Nunito Sans', sans-serif;
